    
@{
    ViewBag.Title = "FindTickets";
}

<h2>FindTickets</h2>
<div class="row">
    <div class="col-md-10">
        <div class="greybackground">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img src="http://s1.ticketm.net/img/tat/dam/a/244/b493e1e5-44e9-4bb0-acf3-eb5ade0ff244_277251_EVENT_DETAIL_PAGE_16_9.jpg"
                                 alt="Lights" style="width:100%">
                        </td>
                        <td>Test description Test description Test description</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-10">
        <div class="thumbnail">
            <div class="col-md-4">
                <div class="light">
                    <table class="columns">
                        <tr class="price">
                            <td class="header">Student price</td>
                        </tr>
                        <tr class="price">
                            <td class="grey">0 Dkk</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-2">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="col-md-4">
                <div class="light">
                    <table class="columns">
                        <tr class="price">
                            <td class="header" colspan="2">Standard price</td>
                        </tr>
                        <tr class="price">
                            <td class="grey">100.00 Dkk</td>
                            <td>
                                <div class="form-group">
                                    <label for="sel1">Select number:</label>
                                    <select class="form-control" id="sel1">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-10">
        <div class="thumbnail">
            <div class="col-md-4">
                <div class="light">
                    <table class="columns">
                        <tr class="price">
                            <td class="header">Total price</td>
                        </tr>
                        <tr class="price">
                            <td class="grey">100.00 Dkk</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-2">
            </div>

            <div class="col-md-4">
                <div class="light">
                    <table class="columns">
                        <tr class="price">
                            <td><a href="#" class="btn btn-primary btn-lg">Pay</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

